body {
    background-image: url("pexels-photo-1103970.jpeg");
}

.content {
    background-color: rgb(60, 75, 97, 0.5);
    margin: 5vh;
    padding: 5vh;
    color: white;
    border-radius: 3vh;
   
}
.requests-dashboard {
    overflow: scroll;
    padding: 1vh;
    max-height: 50vh;
}
.bg-dark2 {
    background-color: rgb(60, 75, 97);
    display: flex;
    justify-content: flex-start;
    color: white;
    padding: 1vw;
    top: 25%;
    
}
.table-hover tbody tr:hover td {
    background-color: rgba(54, 68, 94, 0.8);
    
}
td:hover {
    background-color: rgba(124, 174, 255, 0.5)!important;
}


.navbar-brand2{

    color: white;
    text-decoration: none;
    font-family: 'Russo One', sans-serif;
}

.navbar-brand2:hover {
    text-decoration: none;
    color: white;
}
.topnavbar {
    display: flex;
    justify-content: space-between;
}

.btn-primary {
    margin: 3vh;
    background-color: rgb(60, 75, 97); 
    border-color:  rgb(60, 75, 97); 
}
.btn-primary:hover {
    margin: 3vh;
    background-color: rgb(92, 113, 145); 
    border-color:  rgb(92, 113, 145); 
}
div::-webkit-scrollbar
{
    height: 1vw;

}

div::-webkit-scrollbar-thumb
{
    background-color: rgba(255, 255, 255, 0.8);


}

#pending-reimbursements-table {
    
}

#resolved-reimbursements-table {
   
}
#feedback {
    display: none;
}

#leave-form-button {
    display:none;
}
#file-selector {
    margin: 1vw;
}

.hover {
    text-decoration: underline;
    cursor: pointer;
}